.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td {
    padding: 8px;
    border: 1px solid #ddd; /* Border color */
    text-align: left;
}

.custom-table th {
    background-color: #f2f2f2; /* Header background color */
}

.custom-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row background color */
}

/* Button styles */
.custom-button {
    background-color: teal;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button.red {
    background-color: rgb(223, 67, 67);
}

.custom-button.green {
    background-color: rgb(91, 239, 91);
}
.custom-button.yellow {
    background-color: rgb(109, 188, 244);
}
.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-content {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

.modal-header {
     display: flex;
    justify-content: center; 
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.modal-header .header-label {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.modal-body input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-body input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

/* .modal-body .update-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
} */

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}